<h1>Comms Home</h1>
<% @comms.each do |comm| %>
    <hr>
    <h3><a href="/<%= comm.user_name %>"><%= comm.name %>@<%= comm.user_name %></a></h3>
    <p><%= comm.content %></p>
    <p><%= comm.created_at %></p>
<% end %>
